.bg {
  background-color: #303c74;
  font-family: Arial, sans-serif;
}
.boxLayer1 {
	margin: 10px;
	height: 480px;
	float: left;
}
#object_list {
	width: 300px; 
	background-color: #000;
}
.boxLayer2 {
	margin: 10px;
	float:left;
	height: 120px;
}
#status { 
	width: 640px; 
	font-size: 50px;
	word-wrap: break-word;
	text-align: center;
	line-height: 0px;
} 
#login {
	width: 300px; 
	background-color: #FFF;
	font-size: 25px;
	word-wrap: break-word; 
	text-align: center;
	line-height: 60px;
}
#login:hover {
	opacity: 0.8;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }